.music-container {
  display: flex;
  justify-content: center;
}
.animation {
  display: flex;
  animation: TransitionIn 2s;
  color: #e9edebff;

}
.musictext {
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 700px;
  font-size: 25px;
  color: rgb(0, 0, 0);
  height:230px;
  padding: 20px;
  color: #e9edebff;

}
@keyframes TransitionIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }

}
audio {
  padding-top: 20px;
  display: flex;
}
