.donate-container {
  display: flex;
  padding-left: 20px;
  padding-top: 10px;
  align-items: center;
  flex-direction: column;
  color:aliceblue;

  height: 250px;
  /* background-color: rgb(255, 255, 255); */
}
.donations {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list {
  padding-top: 15px;
  list-style-type: none;
}