.nav {
  display: flex;
  background-color: rgb(233, 84, 186);
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100px
}
a {
  text-decoration: none;
  margin:4rem;
  font-weight: bold;
  padding:10px;
  font-size: 27px;
  color: black;
  transition: font-size 0.2s;
  font-family: comic;
}
a:hover {
  font-size: 38px;
}